# Yomi16 variant: KHONG root.
#
# vayu_defconfig:6310 da co CONFIG_KSU=y nen PHAI tat tuong minh.
# merge_config.sh chi ghi de, khong bo duoc config cu → bat bang "=n".
CONFIG_KSU=n
CONFIG_KSU_MANUAL_HOOK=n
CONFIG_KSU_SUSFS=n
CONFIG_KSU_TRACEPOINT_HOOK=n
CONFIG_KSU_MULTI_MANAGER_SUPPORT=n
CONFIG_KSU_MANUAL_SU=n
CONFIG_KPM=n
